# This .tool-versions file does not contribute to software installed within this container. 
# To add software to the base image, edit the .tool-versions file in the launch-build-agent-base
# repository.
